// List pagination
*[role=navigation] {
  @include clearfix();
  span {
    flex-grow: 1;
    text-align: right;
    margin-right: 0.5rem;
  }
  .loading {
    float: left;
    line-height: 2rem;
    i.material-icons {
      float: right;
    }
  }
}
