<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= data.description %>">
  <meta name="version" content="<%= data.version %>-<%= data.buildTime %>">
  <title><%= data.appName %></title>
  <base href="<%= data.baseHref %>">
  <link rel="stylesheet" href="/css/app.min.css?v=<%= data.version %>-<%= data.buildTime %>">
  <%= includes.favicon %>
</head>
<body>
<%= includes.loading %>
<%= includes['app-update'] %>
<aside id="#navigation"></aside>
<main data-ui-view></main>
<%= includes.footer %>
<script type="text/javascript">
  (function () {
    'use strict';
    window.RHeactorJsAppConfig = {
      appName: '<%= data.appName %>',
      description: '<%= data.description %>',
      version: '<%= data.version %>',
      buildTime: '<%= data.buildTime %>',
      environment: '<%= data.environment %>',
      apiIndex: '<%= data.apiIndex %>',
      mimeType: '<%= data.mimeType %>',
      imageService: '<%= data.imageService %>'
    };
  }());
</script>
<script type="text/javascript" src="/app.min.js?v=<%= data.version %>-<%= data.buildTime %>"></script>
</body>
</html>
